:root {
    --primary-color: #0a122a;
    --secondary-color: #698f3f;
    --accent1-color: #00b2ca;
    --accent2-color: #ff934f;
    --heading-font: "Open Sans", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    text-align: center;
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    background-color: var(--primary-color);
    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    display: grid;
    grid-template-columns: 450px 100px;
    margin-left: 90px;
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    text-align: center;
}

header nav a {
    text-align: center;
    font-size: small;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color: #fff;
    padding: 15px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.social-icons a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img  {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    top: 200px;
    position: absolute;
    text-align: center;
    width: auto;
    background-color: var(--accent2-color);
    color: #fff;
    
}
.history-box {
    text-align: center;
}
.history {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: var(--accent2-color);
    color: #fff;
    align-items: center;
    text-align: justify;
}
.history img{
    width: 190px;
}
.hero article img {
    float: right;
    width: 125px;
    top: 50px;
}

.adventure-box {
    margin: auto;
}
.adventure img {
    height: 150px;
    max-width: 150px;
}

.adventure{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 185px 185px 185px 185px 185px;
    margin-bottom: 20px;
}
figcaption {
    text-align: center;
}

footer {
    text-align: center;
}
.footer {
    margin-left: 180px;
    text-align: center;
    display: grid;
    grid-template-columns: 600px 200px;
}


footer p{
    margin-bottom: 0;
    padding-bottom: 0;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
}

.social-icons {
    display: flex;
    gap: 5px;
}

