:root {
    --primary-color: #003366;
    --secondary-color: #ffd700;
    --accent1-color: #f5f5f5;
    --accent2-color: #cccccc;
    --heading-font: "Open Sans", sans-serif;
    --body-font: "Roboto", sans-serif;
    --black-color: black;
    --white-color: white;
    --common-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    text-align: center;
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    background-color: var(--primary-color);
    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main {
    height: 1600px;
}
.header {
    text-align: center;
    display: grid;
    grid-template-columns: 450px 100px;
    margin-left: 90px;
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    text-align: center;
}

header nav a {
    text-align: center;
    font-size: small;
    color: var(--black-color);
    text-decoration: none;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    padding: 15px;
}

header nav a:hover{
    background-color: #535151;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.social-icons a {
    text-decoration: none;
}


.hero {
    position: relative;
}

.hero img  {
    display: block;
    width: 100%;
    height: auto;
}
.Hero {
    position: relative;
}

.Hero img  {
    display: block;
    width: 100%;
    height: auto;
}
.Hero p{
    padding-top: 100px;
}
.map iframe{
    width: 800px;
    height: 500px;
    border: 0;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.welcome h1 {
    position: absolute;
    top: 89.2px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

article {
    top: 200px;
    position: absolute;
    text-align: center;
    width: auto;
    background-color: var(--accent2-color);
    color: var(--common-color);
    
}
.history-box {
    text-align: center;
}
.history {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: var(--accent2-color);
    color: var(--common-color);
    align-items: center;
    text-align: justify;
}

.Details-box {
    text-align: center;
}
.Details {
    margin-top: 10px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent2-color);
    color: var(--common-color);
    align-items: center;
    text-align: justify;
}
.history img{
    width: 190px;
}
.hero article img {
    float: right;
    width: 125px;
    top: 50px;
}

.adventure-box, .offerings-box {
    margin: auto;
}
.adventure img {
    height: 150px;
    max-width: 150px;
}

.offerings img {
    height: 200px;
    width: 380px;
}

.adventure{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 185px 185px 185px 185px 185px;
    margin-bottom: 20px;
}

.offerings{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 450px 450px;
    margin-bottom: 20px;
}

.Employee-box {
    margin: auto;
}
.Employee img {
    height: 150px;
    max-width: 250px;
}

.Employee{
    margin-left: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-bottom: 20px;
}

.trips img {
    width: 250px;
    height: 150px;
}
.trips {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-bottom: 20px;
}
figcaption {
    text-align: center;
}
.form {
    margin-bottom: 60px;
}

form{
    display: grid;
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid var(--accent1-color);
    border-radius: 0.5rem;
    background-color: var(--accent2-color);
    text-align: left;
    color: var(--black-color);
    margin-bottom: 0px;
}

legend {
    text-align: left;
    margin-left: 10px;
    color: blue;
}
label {
    display:block;
    margin-left: 20px;
    margin-bottom: 10px;
}

input[type=email] {
    margin-left: 26px;
}
.formcolumn1,.formcolumn2,.formcolumn3{
    font-size: small;
}

.formcolumn1 {
    margin-top: 10px;
}
.formcolumn1 input[type=text]{
    margin-left: 5px;
    border-radius: 8px;
}

.formcolumn2 input[type=email]{
    margin-left: 31px;
    border-radius: 8px;
}

.formcolumn2 input[type=tel]{
    margin-left: 1px;
    border-radius: 8px;
}
.purpose label{
    margin-bottom: 10px;
    margin-left: 40px;
}

input[type=radio] {
    margin-right: 10px;
}

.message {
    text-align: center;
}
.message label{
    margin-left: 8px;
    color: blue;
}
textarea {
    width: 300px;
    border-radius: 8px;
}

.Subscription {
    margin-top: 10px;
    text-align: center;
}

input[type=checkbox] {
    margin-left: 10px;
}

.form button {
    width: 100px;
    margin: 0 auto;
    height: 30px;
}

.newsletter button {
    margin-left: 175px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
}

.newsletter button:hover, .form button:hover{
    background-color: var(--white-color);
}
.cta nav{
    margin-top: 10px;
    margin-bottom: -10px;
}
.cta nav a {
    text-decoration: none;
    color: var(--secondary-color);
}
.cta a:hover{
    font-size: larger;
    color:#352f0c;
}
.trip-table {
    text-align: center;
    padding: 20px;
}

.trip-table table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    border: 1px solid var(--black-color);
    padding: 10px;
    background-color: var(--common-color);
    
}

.trip-table th {
    background-color: #005f73;
    color: var(--white-color);
}

footer {
    text-align: center;
    margin-top: 10px;
}
.footer {
    margin-left: 180px;
    margin-bottom: -40px;
    text-align: center;
    display: grid;
    grid-template-columns: 600px 200px;
}

footer a{
    text-decoration: none;
    color: var(--secondary-color);
}


footer p{
    margin-bottom: 0;
    padding-bottom: 0;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
}

.social-icons {
    display: flex;
    gap: 5px;
}

