* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    background-color: white;
    color:blue;
}

header{
    margin: 0 auto;
    width: 650px;
}

h1{
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    display: grid;
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid blue;
    border-radius: 0.5rem;
    background-color: aquamarine;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.25rem;
}

label, input, button, select, textarea {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}

label {
    text-align: right;
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    width: 130px;
    background-color: blue;
    margin: 0 auto;
    height: 50px;
    border-radius: 1rem;
}

button:hover {
    width: 100px;
    background-color: lightblue;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 0 auto;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}


.column2 label[for=fullname] {
    margin-left: -2.5rem
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column3 {
    margin-top: 1rem
}

.column3 label{
   margin-left: 7rem; 
}

.column3 textarea{
    width: 500px;
    margin-left: 0.3rem;
    margin-top: 0.7rem;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 1em;
    color:#777;
    border-top: 1px solid #ccc;
}