main {
    width: 650px;
}
h1 {
    color: #2ca85c;
}

nav {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #2ca85c;
}
aside {
    width: 13rem;
    margin: 0.3rem;
    border: 1px solid rgb(0, 255, 0);
    padding: 10px;
    background-color: green;
    color: white;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 250px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 20px;
    border-top: 2px solid green;
    text-align: center;
}