main {
    width: 350px;
}

aside {
    width: 13rem;
    margin: 0.3rem;
    border: 1px solid rgb(0, 255, 0);
    padding: 10px;
    background-color: green;
    color: white;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 250px;
    height: auto;
}

p {
    padding: 0px;
}

footer {
    margin-top: 20px;
    border-top: 2px solid green;
    text-align: center;
}