:root {
    --Nigeria-color1:#2ca85c; 
    --Nigeria-color2:green;
}
main {
    max-width: 650px;
}
h1 {
    color: var(--Nigeria-color1);
}

nav {
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: var(--Nigeria-color1);
}
aside {
    width: 13rem;
    margin: 0.3rem;
    border: 1px solid rgb(0, 255, 0);
    padding: 10px;
    background-color: var(--Nigeria-color2);
    color: white;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 250px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 20px;
    border-top: 2px solid var(--Nigeria-color2);
    text-align: center;
}
